@page
@model WeatherProject.Pages.BalconyModel
@using WeatherProject.Services;
@{
}
@*<h2>Balkongdörren</h2>
<p></p>
<ol>
    @{
        var balconyData = SqlWeatherData.GetBalconyData();
        
        foreach (var day in balconyData)
        {
            <li class="list-group-item">Datum: @day.DateAndTime Tid som dörr är öppen: @day.DoorOpenTime Antal gånger öppnad: @day.OpenedAmount</li>
        }
    }
</ol>*@
